form, fieldset {
    background-color: #EEE;
    margin: 10px;
    padding: 10px;
}

fieldset {
	background-color: #FFF;
	border: 1px solid #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}

form {
	margin: 20px;
    width: 300px;
}

fieldset {
    width: 250px;
}

input, textarea, select {
	border: 1px solid #DDD;
    margin: 10px;
    padding: 5px;
    height: 32px;
    width: 230px;
}

textarea {
	height: 100px;
}

legend {
	font-variant: small-caps;
	font-size: larger;
	background-color: #FFF;
	padding: 5px 20px 5px 20px;
	margin-left: -11px;
}

label {
	text-transform: capitalize;
}